body {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

/* MENU AND NAVIGATION BAR */
.menu {
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    padding-top: 1px;
}

.menu h1 {
    padding-left: 20px;
}

nav{
    width: 100%;
    padding-top: 1px;
    background-color: #c2a1c2;
    display: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}

li#last {
    border-bottom: none;
}

li a {
    text-decoration: none;
    letter-spacing: 1.2px;
    font-size: 1.2em;
    color: black;
}

li a:hover {
    color: white;
}

/* HEADER */

header {
    position: relative;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 60px;
}

header img {
    width: 85%;
    padding-left: 15%;
}

.header-text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: .8em;
    padding-right: 45%;
}

.header-subtext {
    color: #8b538b;
}

header button {
    position: absolute;
    background-color: #8b538b;
    color: white;
    width: 150px;
    padding: 8px;
    text-align: center;
    left: 50%;
    margin-left: -75px;
    bottom: -30px;
    border-style: none;
    border-radius: 10px;
    border: 4px solid #8b538b
}

header button:hover {
    border: 4px solid black;
}

/* CONTENT */
.content-title {
    width: 100%;
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.content-title h3 {
    padding-left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-img-wrapper {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin-bottom: -10px;
}

.services-img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    object-fit: fill;
}

/* FOOTER */
footer {
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
}